/* .hscreen{
height: 100vh; */
/* saari height viewport wali cover karega */
/* } */
/* .flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.jcentre{
  justify-content: center;
}
.acentre{
  align-items: center;
}
.allpd{
  padding: 20px;
}
.xpd{
  padding:0 50px;
}
.ypd{
  padding:50px 0 ;
}
*{
  color: whitesmoke;
  font-family: CommuterSans;
}
body{
  background-image: linear-gradient(rgb(53, 2, 2),rgb(20, 1, 54));
  
}

.imgdiv{
  height: 400px;
  width: 400px;
}
.cgap{
  column-gap: 30px;
}
.rgap{
  row-gap: 30px;
}
.iptsize{
  width: 400px;
  height: 30px;
  background:transparent;
  border:1px solid #ccc;
  border-color:gray;
}
.txtarea{
  width: 400px;
  height: 200px;
  background: transparent;
}
.iptpd{
  padding: 4px;
}
.margin{
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background: transparent;
  border:1px solid #ccc;
  border-color:gray;
}
.tmargin{
  margin-top:80px;
}
.header{
  top: 0%;
  left: 0%;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
}
a{
  text-decoration: none;
} */
.img{
  background-image:url(./assets/profilepic.jpg);
  /* object-fit: contain;
  width:400px;
  height:400px;
  background-size: cover;
  background-position: right; */
}
